* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --buttonsprimary: #2d0b70;
    --buttonssecondary: #8f5acf;
    --buttonstertiary: rgb(247, 247, 247);
    --black: rgb(8, 8, 8);
}

body {
    background: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 20px;
    font-size: 10px;
}

header .high-scores {
    color: var(--buttonssecondary);
}

main{
    margin: 30px 0px;
}

.quiz-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.quiz-intro h1 {
    font-size: 35px;
}
.quiz-intro p {
    padding: 0px 80px;
}

.start-btn {
    padding: 10px 20px;
    font-weight: lighter;
    font-size: 2.0vw;
    font-weight: bold;
    color: var(--buttonstertiary);
    border-radius: 15px;
    background-color: var(--buttonsprimary);
    text-decoration: none;
    outline: none;
    border: none;
}